<div id="back">
  <canvas id="canvas" class="canvas-back"></canvas>
  <div class="backRight">
  </div>
  <div class="backLeft">
  </div>
</div>
    <div class="right">
      <div class="content">
        <h2>Iniciar Sesion</h2>
        <form id="form-login"  >
          <div class="form-element form-stack">
            <label for="username-login" class="form-label">Correo</label>
            <input id="username-login" type="text" name="email">
          </div>
          <div class="form-element form-stack">
            <label for="password-login" class="form-label">Contraseñaas</label>
            <input id="password-login" type="password" name="password">
          </div>
          <div class="form-element form-submit">
            <button id="logIn" class="login" type="submit" name="login" routerLink = '/dashboard'>Iniciar Sesion</button>
          </div>
        </form>
      </div>
    </div>

<router-outlet></router-outlet>
