
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a  class="nav-link active" aria-current="page" routerLink = '/inicio' >Control De Empresas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = '/dashboard' style=" color:  #C7EED0">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/registros"  style=" color:  #C7EED0">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login"  style=" color:  #C7EED0">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/inicio"  style=" color:  #C7EED0">Inicio</a>
        </li>


      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
