<div id="back">
  <canvas id="canvas" class="canvas-back"></canvas>
  <div class="backRight">
  </div>
  <div class="backLeft">
  </div>
</div>
    <div class="right">
      <div class="content">
        <h2>Registrar Empleado</h2>
        <form id="form-login"  >
          <div class="form-element form-stack">
            <label for="username-login" class="form-label">Nombre de Usuario</label>
            <input id="username-login" type="text" name="username">
          </div>
          <div class="form-element form-stack">
            <label for="username-login" class="form-label">Correo electronico</label>
            <input id="username-login" type="text" name="email">
          </div>
          <div class="form-element form-stack">
            <label for="Numero-login" class="form-label">Numero de Telefono</label>
            <input id="username-login" type="text" name="username">
          </div>
          <div class="form-element form-stack">
            <label for="password-login" class="form-label">Contraseña</label>
            <input id="password-login" type="password" name="password">
          </div>
          <div class="form-element form-stack">
            <label for="password-login" class="form-label">Confirme  Su contraseña </label>
            <input id="password-login" type="password" name="password">
          </div>
          <div class="form-element form-submit">
            <button id="logIn" class="login" type="submit" name="login">Iniciar Sesion</button>
          </div>
        </form>
      </div>
    </div>

<router-outlet></router-outlet>
